{% extends 'base.html' %}
{% load static thumbnail %}

{% block title_tag %}<title>Memories Of A Masterpiece by Amber Vittoria</title>{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'hes-gallery/hes-gallery.css' %}">
    <script src="{% static 'hes-gallery/hes-gallery.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <style id="resizing"></style>
    <style>
        /* transition for items on translate */
        .filter-button {
            transition: transform .4s;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="w-5/6">
        <div class="mb-8 mt-24">
            <h1 class="text-6xl font-delafield font-bold mb-2 ">{{ collection.name }}</h1>
        </div>

        {% if collection.color_filters or user.is_staff %}
            <div id="filters" class="py-4 mb-8">
                {# buttons for each collection color #}
                <label class=" font-medium text-sm">Filter Colors (click again or ctrl + click to exclude)</label>
                <div class="my-1">
                    {% for color in collection.colors.all %}
                        <button class="filter-button py-4 px-4 my-2 rounded-full"
                                data-filter="{{ color.hex }}"
                                style="background:{{ color.hex }};"
                        >
                        </button>
                    {% endfor %}
                </div>

                <div class="mt-2 font-medium text-sm">
                    <label for="n-color-filter" class="">Color Count</label>
                    <span id="n-color-filter-value" class="mx-2 "></span>
                    <br>
                    <input id="n-color-filter" class="w-full md:w-2/5 mt-2" type="range" min="0" max="20" step="1" value="0">
                </div>
            </div>
        {% endif %}

        <div class="text-sm font-medium"><span id="item-count"></span> items</div>
        <div id="nfts" class="clear-right flex flex-wrap hes-gallery" data-contract_address="{{ collection.address }}">

            {% for item in collection.items.all %}
                <section id="{{ item.token_id }}"
                         class="w-60 gallery-item"
                         data-colors="{{ item.colors_string }}]"
                         data-n-colors="{{ item.colors_n }}"
                >
                    {% if user.is_staff %}<a class="no-underline" href="/admin/collex/item/{{ item.pk }}/" target="_blank">{% endif %}
                    <h4
                            class="font-bold bg-moam-lavender text-white text-center text-ellipsis rounded-t-md overflow-hidden text-ellipsis w-full"
                    >
                        {{ item.name }}
                    </h4>
                    {% if user.is_staff %}</a>{% endif %}

                    <a href="#{{ item.token_id }}" class="gallery-link">
                        <img class="gallery-img rounded-b-md w-full"
                             src="{{ item.image|thumbnail_url:'small' }}"
                             data-fullsize="{{ item.image|thumbnail_url:'large' }}"
                             data-subtext="{{ item.name }}"
                             data-token_id="{{ item.token_id }}"
                             data-colors="{{ item.colors_string }}"
                             data-n-colors="{{ item.colors_n }}"
                             alt="{{ item.name }}"/>
                    </a>
                </section>
            {% endfor %}

        </div>
    </div>
{% endblock %}

{% block end_scripts %}
    <div class="fixed right-2 bottom-2 ">
        <div id="zoomer-help" class="text-xs  mb-1 invisible"><span>ctrl</span> + mousewheel works too
        </div>
        <input id="zoomer" class="w-full" type="range" step="0.5">
    </div>
    <script>
        HesGallery.setOptions({
            disableScrolling: false,
            hostedStyles: false,
            animations: true,

            showOsLink: true,
            showImageCount: false,
            wrapAround: true,
        })

        const $nfts = $('#nfts');
        const $headings = $nfts.find('h4');
        const ogFontSize = parseInt($headings.css('font-size'));
        const galleryItems = $nfts.find('section');
        const ogWidth = $('.gallery-img').width();
        const $zoomerElement = $('#zoomer')[0];

        // set maximum zoom level for images (px width)
        const maxPx = 400;
        const minPx = 30;
        const minFontSize = ogFontSize * 0; // set to 0, but leaving here for future use
        $zoomerElement.max = pxToRem(maxPx);
        $zoomerElement.min = pxToRem(minPx);
        $zoomerElement.value = pxToRem(ogWidth);

        function resizeGrid(newWidth) {
            console.log(newWidth)
            $('#resizing').html(
                `#nfts > section {
                    width: ${newWidth}px !important;
                    margin: ${newWidth / 15}px;
                }
                #nfts {
                    margin: 0 -${newWidth / 15 / 2}px !important;
                    font-size: ${Math.max(minFontSize, newWidth / ogWidth * ogFontSize)}px !important;
                }`
            );
            $zoomerElement.value = pxToRem(newWidth)
            setTimeout(() => $nfts.isotope('layout'), 0);
        }

        resizeGrid(ogWidth);

        function zoomerResize() {
            const newWidth = remToPx($zoomerElement.value)
            resizeGrid(newWidth)
        }

        window.addEventListener('wheel', function (e) {
            if (e.metaKey || e.ctrlKey) {
                // resize all .gallery-imgs by e.deltaY
                const delta = e.deltaY;
                let width = galleryItems.width()
                let newWidth = Math.min(Math.max(width - delta, minPx), maxPx);
                resizeGrid(newWidth);
            }
        })

        function base() {
            return parseFloat(getComputedStyle(document.documentElement).fontSize);
        }

        function remToPx(rem) {
            return rem * base();
        }

        function pxToRem(px) {
            return (1 / base() * px).toFixed(1);
        }

        $('#zoomer').on('mousedown', function () {
            $('#zoomer-help').removeClass('invisible')
        }).on('mouseup', function () {
            $('#zoomer-help').addClass('invisible')
        }).on('input', zoomerResize)

        function isMacintosh() {
            console.log(navigator.userAgent)
            return navigator.userAgent.indexOf('Mac') > -1
        }

        if (isMacintosh()) $('#zoomer-help span').text('cmd')

        // hide loader after page is full loaded
        $(window).on('load', function () {
            $('.loader').slideUp(1000)

            locationHashChanged()

        })

        $nfts.imagesLoaded(function () {
            $nfts.isotope({
                itemSelector: '.gallery-item',
                layoutMode: 'fitRows',
            });
            applyFilters();
            document.iso = $nfts.data('isotope')
        });

        const $colorFilterButtons = $('#filters').find('button');
        const $nColorsFilter = $('#n-color-filter');

        $colorFilterButtons.click(function (event) {
            // inactive > included (active) > excluded (active)
            let excludeClasses = ['exclude', 'translate-y-2', 'drop-shadow-button-above'];
            let includeClasses = ['include', '-translate-y-2', 'drop-shadow-button'];
            if ($(this).hasClass('include') || event.metaKey || event.ctrlKey) {
                $(this).addClass(excludeClasses)
                $(this).removeClass(includeClasses)
            } else if ($(this).hasClass('exclude')) {
                $(this).removeClass(excludeClasses)
            } else {
                $(this).addClass(includeClasses)
            }

            applyFilters()
        });


        $nColorsFilter.on('input', function () {
            $('#n-color-filter-value').text(this.value > 0 ? this.value : '')
            applyFilters()
        })

        function applyFilters() {
            var includeColors = [],
                excludeColors = [];
            $colorFilterButtons.each(function (i, elem) {
                // use value if active
                if (elem.classList.contains('include'))
                    includeColors.push(elem.dataset.filter);
                else if (elem.classList.contains('exclude'))
                    excludeColors.push(elem.dataset.filter);
            });
            $nfts.isotope({
                filter: function () {
                    if (parseInt($nColorsFilter.val()) !== 0 && $(this).data('n-colors') !== parseInt($nColorsFilter.val()))
                        return false;

                    // for each of the item's colors, check if it is in the includeColors or excludeColors array
                    var itemColors = $(this).data('colors').split(',');

                    // check if all filterColors are in the item's colors
                    for (var i = 0; i < includeColors.length; i++) {
                        if ($(this).data('colors').indexOf(includeColors[i]) === -1) {
                            return false;
                        }
                    }
                    // check if all excludeColors are not in the item's colors
                    for (var i = 0; i < excludeColors.length; i++) {
                        if ($(this).data('colors').indexOf(excludeColors[i]) !== -1) {
                            return false;
                        }
                    }
                    return true;

                }
            })
            $('#item-count').text($nfts.isotope('getFilteredItemElements').length)
        }

        /**
         * Gallery link click handler
         */
        $nfts.find('.gallery-link').on('click', (e) => {
            e.stopPropagation();
            history.pushState(true, '', `${e.currentTarget.href}`);
            return false;
        })

        /**
         * Show image when hash is changed
         */
        function locationHashChanged() {
            var hash = window.location.hash;
            if (hash) {
                $(hash).find('img').click();
            }
            return false;
        }

        window.onhashchange = locationHashChanged;

    </script>
{% endblock %}
