{% extends 'base.html' %}
{% load static thumbnail %}

{% block head %}
    <link rel="stylesheet" href="{% static 'hes-gallery/hes-gallery.css' %}">
    <script src="{% static 'hes-gallery/hes-gallery.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <style id="resizing"></style>
    <style>#nfts section {
            transition: width .15s, height .15s;
    }
    </style>
{% endblock %}

{% block content %}
    <div class="w-5/6">
        <div class="mb-16 mt-24">
            <h1 class="text-6xl font-delafield font-bold mb-2 text-moam-brown">{{ collection.name }}</h1>
        </div>

        <div id="nfts" class="flex gap-5 flex-wrap hes-gallery">

            {% for item in collection.items.all %}
                <section class="w-60">
                    <h4
                            class="font-bold bg-moam-lavender text-white text-center text-ellipsis rounded-t-md overflow-hidden text-ellipsis w-full"
                    >
                        {{ item.name }}
                    </h4>

                    <a href="#" onclick="return false">
                        <img class="gallery-img rounded-b-md w-full"
                             src="{{ item.image|thumbnail_url:'small' }}"
                             data-fullsize="{{ item.image|thumbnail_url:'large' }}"
                             data-subtext="{{ item.name }}"
                             alt="{{ item.name }}"/>
                    </a>
                </section>
            {% endfor %}

        </div>
    </div>
{% endblock %}

{% block end_scripts %}
    <div class="fixed right-2 bottom-2 ">
        <div id="zoomer-help" class="text-xs text-moam-brown mb-1 invisible"><span>ctrl</span> + mousewheel works too</div>
        <input id="zoomer" class="w-full" type="range" step="0.5">
    </div>
    <script>
        HesGallery.setOptions({
            disableScrolling: false,
            hostedStyles: false,
            animations: true,

            showImageCount: false,
            wrapAround: true,
        })

        const $nfts = $('#nfts');
        const $headings = $('#nfts').find('h4');
        const ogFontSize = parseInt($headings.css('font-size'));
        const galleryItems = $nfts.find('section');
        const ogWidth = $('.gallery-img').width();
        const $zoomerElement = $('#zoomer')[0];

        // set maximum zoom level for images (px width)
        const maxPx = 400;
        const minPx = 60;
        $zoomerElement.max = pxToRem(maxPx);
        $zoomerElement.min = pxToRem(minPx);
        $zoomerElement.value = pxToRem(ogWidth);

        function resizeGrid(newWidth) {
            console.log(newWidth)
            $('#resizing').html(
                `#nfts > section {
                    width: ${newWidth}px !important;
                }
                #nfts {
                    gap: ${newWidth / 15}px !important;
                    font-size: ${Math.max(ogFontSize * .6, newWidth / ogWidth * ogFontSize)}px !important;
                }`
            );
            $zoomerElement.value = pxToRem(newWidth)
        }

        function zoomerResize() {
            const newWidth = remToPx($zoomerElement.value)
            resizeGrid(newWidth)
        }

        window.addEventListener('wheel', function (e) {
            if (e.metaKey || e.ctrlKey) {
                // resize all .gallery-imgs by e.deltaY
                const delta = e.deltaY;
                let width = galleryItems.width()
                let newWidth = Math.min(Math.max(width - delta, minPx), maxPx);
                resizeGrid(newWidth);
            }
        })

        function base() {
            return parseFloat(getComputedStyle(document.documentElement).fontSize);
        }

        function remToPx(rem) {
            return rem * base();
        }

        function pxToRem(px) {
            return (1 / base() * px).toFixed(1);
        }

        $('#zoomer').on('mousedown', function () {
            $('#zoomer-help').removeClass('invisible')
        }).on('mouseup', function () {
            $('#zoomer-help').addClass('invisible')
        }).on('input', zoomerResize)

        function isMacintosh() {
            console.log(navigator.userAgent)
          return navigator.userAgent.indexOf('Mac') > -1
        }
        if (isMacintosh()) $('#zoomer-help span').text('cmd')

        // hide loader after page is full loaded
        $(window).on('load', function () {
            $('.loader').slideUp(1000)
        })

    </script>
{% endblock %}
